
body {
  margin: 0;
  padding: 0;
  font-family: "PT Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color:#000000;
  background-color: #ffffff;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*отмена почеркивания у ссылок*/
a {
text-decoration: none;
}
/*эффекты логотипа*/
.logo{
display: inline-block;
box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
height: 47px;
background-color: #ee3643;
}
/*цвет наведения у логотипа*/
.logo:hover{
  background-color: #ba2732;
}

/*отмена маркеров*/
.navigation-list,
.user-list,
.footer-navigation-list,
.navigation-list-buttom{
list-style: none;
}

/*размер верхней навигации*/
.header-action{
font-size: 17px;
}

/*размер шрифта футера цвет текста */
.footer{
font-size: 18px;
color: #f3f7f9;
background-color: #293449;
}
/*цвет ссылки*/
.navigation-list a,
.footer-navigation-list a {
color: #ffffff;
}
.navigation-list-buttom{
color: #ffd180;
}

/*наведение и фокусировка верхней навигации*/
.navigation-list a:hover,
.navigation-list a:focus {
background-color: #212a3a;
}
/*.navigation-list{
display: block;
}*/

/*наведение подчеркивание футер*/
.mail a:hover,
.mail a:focus,
.navigation-list-buttom a:hover,
.navigation-list-buttom a:focus,
.footer-navigation-list a:hover,
.footer-navigation-list a:focus {
text-decoration: underline;
}


/* текст заглавный*/
.header-contacts h1{
width: 196px;
height: 60px;
color: #ee3643;
font-weigh: 100;
font-family: Cuprum;
font-size: 16px;
font-style: italic;
line-height: 23px;
}

/*фон вверху адрес и тел и стр каталога*/
.header-contacts,
.name-product,
.about-product,
.service {
background-color: #f2f6f8;
}
/*подчеркивание блок пользователя*/
.my-order,
.cabinet{
text-decoration: underline;
color: #32425c
}
.point{
width: 4px;
height: 5px;
background-color: #32425c;
border-radius: 50px;
}

/*фон темный для верхней навигации и низа футера*/
.footer-contact,
.header-action{
background-color: #293449;
}
/*фон главная и футер верх*/
.navigation-menu,
.footer-menu{
background-color: #32425c;
}
/*фон производители и товары*/
.popular-goods,
.popular-firms{
height: 89px;
background-color: #f9f5f0;
}

.button{
font: inherit;
text-align: center;
color: #ffffff;
vertical-align: middle;
text-transform: uppercase;
background-color: #ee3643;
border: none;
border-radius: 4px;
}
/* наведение и фокус кнопок не сработало*/
.button a:hover,
.button a:focus,
.button a:active,
.btn a:hover,
.btn a:focus,
.btn a:active {
background-color: #green;
}


/*область для телефон*/
.contacts-company{
width: 270px;
height: 45px;
border: 3px solid #ffffff;

}
/*телефон компании*/
.contacts-company p{
width: 144px;

color: #ee3643;
font-family: Cuprum;
font-size: 21px;
font-weight: 400;
line-height: 21px;
}

/*адрес компании*/
.contacts-address p{
width: 250px;
height: 13px;
color: #32425c;
font-family: Cuprum;
font-size: 14px;
font-weight: 400;
line-height: 24px;
}
/*ввод и регистрация и блок пользователя*/
.user-link{
font: inherit;
font-size: 21px;
background-color: #ffffff;
border: 2px solid #ffffff;
color:#000000;
}
/* ввод и реистрация не сработало*/
.user-list a:hover,
.user-list a:focus,
.user-list a:active {
color: #red;
}



/*ссылки на гл стр предложения*/
.button-offers{
color: #ffffff;
}

/*блоки предложений*/
.offering{
  position: relative;
  display: inline-block;
  width: 300px;
  height: 123px;
  margin: 0 0 20px 20px;
  vertical-align: middle;
  background-color: #f6b22d;
}


.popular-goods .button,
.popular-firms .button{
background-color: #ee3643;
border-radius: 4px;
}
.popular-catalog{
display: block;
}

.banner-firms a{
  display: inline-block;
  width: 218px;
  height: 143px;
  margin: 0 20px 20px 0;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
}
.banner-firms a img {

  left: 50%;
  top: 50%;
  }

.perforator-image{
position: relative;
display: inline-block;
margin-bttom: 21px;
margin-left: 20px;
width: 218px;
height: 316px;
text-align: center;
vertical-align: middle;
border: 1px solid #e5e5e5;
}

.container{
display: flex;
justify-content: space-between;
}

.breadcrumbs{
  list-style: none;
}

.contacts-list,
.copyright,
.feedback{
  color:#ffff;
}
.navigation-list-buttom a {
    padding: 0 30px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    color: inherit;
    text-decoration: none;
}
/*фон контакты футер*/
.footer-contact{
  background-color: #293449;
}
/*цвет ссылок*/
.mail a{
color: #ffd180;
}
/* маил и обратная связь по правому краю*/
.mail,
.feedback{
text-align: right;
}
/*фон модального окна*/
.modal-content-user-letter{
background: #ffffff;
}
.appointment-item{
font-size: 18px;
}
/*модальное окно внутри*/
.appointment-form input[type="text"],
.appointment-form input[type="address"],
.appointment-form input[type="textletter"]{
font: inherit;
font-size: 13px;
color: #999999;
background-color: #ffffff;
border: 2px solid #999999;
border-radius: 5px;
}
/*размер будет отличаться
.textletter input[type="textletter"]{

  }*/
  .form-button,
  .add-product-button{
  color: #green;
  }
  .btn{
    font: inherit;
    text-align: center;
    color: #000000;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
  }
