
body {
  margin: 0;
  padding: 0;
  font-family: "PT Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight:: normal;
  font-style: normal;
  color:#000000;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.header-action {
  font-size: 15px;
  /*line-height: надо ли, все в строку ;*/
  color: #000000;
  background-color: #293449;
}

.navigation-list {
  list-style: none;
}
